{{ define "css" }}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/cs.css" />
{{ end }} {{ define "js" }}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
<script src="/js/ani.js" defer></script>
<script src="/js/inquiry.js" defer></script>
{{ end }} {{ define "main" }}

<section class="cs-visual">
    <div class="container">
        <div class="cs-visul-top">
            <div class="cs-title">
                <h2 class="ani">고객센터</h2>
                <strong class="ani-2">
                    Hello, Daedoentec <br />
                    대도엔텍에서 알려드립니다.
                </strong>
            </div>
            <ul class="cs-tabmenu ani-2">
                <li><a href="/cs/notice/">공지사항</a></li>
                <li><a class="active" href="/cs/inquiry/">고객문의</a></li>
                <li><a href="/cs/resources/">자료실</a></li>
            </ul>
        </div>
    </div>

    <div class="cs-visual-bg ani-3">
        <img src="/images/cs/cs-visual-bg2.png" alt="bg" />
    </div>
</section>

<!-- //e: cs-visual  -->

<section class="inquiry">
    <div class="container">
        <div class="inquiry-top">
            <div class="inquiry-title">
                <h3 data-aos="fade-up">
                    <span>고객문의, 궁금하신 사항을 접수해 주시면</span> <br />
                    최대한 빠른 시일 내에 답변드리도록 하겠습니다.
                </h3>
            </div>
        </div>

        <!-- === 폼 시작 === -->
        <form name="contact" method="POST" data-netlify="true" enctype="multipart/form-data">
            <input type="hidden" name="form-name" value="contact" />
            <div class="inquiry-bottom">
                <div class="inquiry-box">
                    <div class="user-info">
                        <div class="user-name">
                            <p>이름</p>
                            <input type="text" name="name" placeholder="| 이름을 입력해주세요." required />
                        </div>
                        <div class="user-corporate-name">
                            <p>회사명</p>
                            <input type="text" name="company" placeholder="| 회사명을 입력해주세요." />
                        </div>
                        <div class="user-email">
                            <p>이메일</p>
                            <input type="email" name="email" placeholder="| 이메일을 입력해주세요." required />
                        </div>
                        <div class="user-phone-number">
                            <p>연락처</p>
                            <input type="text" name="phone" placeholder="| 연락처를 입력해주세요." />
                        </div>
                    </div>
                    <div class="inquiry-box-title">
                        <p>제목</p>
                        <input type="text" name="title" placeholder="| 제목을 입력해주세요." required />
                    </div>
                    <div class="inquiry-box-text">
                        <p>문의내용</p>
                        <textarea name="message" placeholder="| 문의하실 내용을 작성해주세요." required></textarea>
                    </div>
                    <div class="inquiry-box-file">
                        <p>첨부파일</p>
                        <input type="file" name="attachment" id="file" />
                        <div class="file-display">
                            <span class="file-name">파일을 선택해주세요.</span>
                            <label for="file" class="file-btn">파일 선택</label>
                        </div>
                    </div>
                    <div class="inquiry-box-prevent">
                        <p>자동입력방지</p>
                        <div data-netlify-recaptcha="true"></div>
                        <span class="prevent-text">좌측에 보이는 문자를 그대로 입력해주세요.</span>
                    </div>
                </div>
            </div>
            <div class="inquire-btn">
                <button type="submit">문의하기</button>
            </div>
        </form>
        <!-- === 폼 끝 === -->
    </div>
</section>

{{ end }}
