{{ define "css" }}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/cs.css" />
{{ end }} {{ define "js" }}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
<script src="/js/ani.js" defer></script>
{{ end }} {{ define "main" }}

<section class="cs-visual">
    <div class="container">
        <div class="cs-visul-top">
            <div class="cs-title">
                <h2 class="ani">고객센터</h2>
                <strong class="ani-2">
                    Hello, Daedoentec <br />
                    대도엔텍에서 알려드립니다.
                </strong>
            </div>
            <ul class="cs-tabmenu ani-2">
                <li><a class="active" href="/cs/notice/">공지사항</a></li>
                <li><a href="/cs/inquiry/">고객문의</a></li>
                <li><a href="/cs/resources/">자료실</a></li>
            </ul>
        </div>
    </div>

    <div class="cs-visual-bg ani-3">
        <img src="/images/cs/cs-visual-bg1.png" alt="bg" />
    </div>
</section>

<!-- //e: cs-visual  -->

{{ $notices := where .Site.RegularPages "Section" "notice" }} {{ $paginator := .Paginate $notices 8 }}
<!-- 한페이지에 공지li 최대8개 제한 -->

<section class="notice">
    <div class="container">
        <div class="notice-top">
            <div class="notice-title">
                <h3 data-aos="fade-up">
                    <span>공지사항</span> <br />
                    최신 소식을 전해드립니다.
                </h3>
            </div>

            <div class="notice-search">
                <div class="search-left">
                    <button class="search-toggle">제목+내용</button>
                </div>

                <div class="search-right">
                    <div class="search-input-wrap">
                        <input type="text" placeholder="검색어를 입력해주세요." />
                        <span class="search-icon"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="notice-bottom">
            <div class="notic-list-total">
                <p>Total <span>{{ $paginator.TotalPages }}</span></p>
            </div>

            <ul class="notice-list" id="noticeList">
                {{ range $paginator.Pages }}
                <li>
                    <a href="{{ .RelPermalink }}" class="notice-link">
                        <dl>
                            <dt>{{ .Title }}</dt>
                            <dd>{{ .Params.desc }}</dd>
                        </dl>
                        <p>{{ .Date.Format "2006-01-02" }}</p>
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>

        <div class="notice-list-pagination">
            {{ $min := cond (lt $paginator.PageNumber 3) 1 (sub $paginator.PageNumber 1) }}
            <a
                class="pagination-prev"
                href="{{ if gt $paginator.PageNumber 1 }}{{ (index $paginator.Pagers (sub $paginator.PageNumber 2)).URL }}{{ end }}"
                style="color: {{ if gt $min 1 }}var(--logo-main){{ else }}var(--bk){{ end }};{{ if eq $paginator.PageNumber 1 }} pointer-events: none; opacity: 0.5;{{ end }}"
                id="btnPrev"
                ><span></span
            ></a>
            <div class="btn-number" id="btnNumber">
                {{ $total := $paginator.TotalPages }} {{ $cur := $paginator.PageNumber }} {{ $pageArr := slice }} {{ if
                le $total 3 }} {{ range $i, $v := (seq 1 $total) }}{{ $pageArr = $pageArr | append $v }}{{ end }} {{
                else if le $cur 2 }} {{ $pageArr = slice 1 2 3 }} {{ else if ge $cur (sub $total 1) }} {{ $pageArr =
                slice (sub $total 2) (sub $total 1) $total }} {{ else }} {{ $pageArr = slice (sub $cur 1) $cur (add $cur
                1) }} {{ end }} {{ range $i, $p := $pageArr }} {{ $pager := index $paginator.Pagers (sub $p 1) }}
                <a class="pagination-btn{{ if eq $cur $p }} active{{ end }}" href="{{ $pager.URL }}">{{ $p }}</a>
                {{ end }}
            </div>
            {{ $max := (index $pageArr (sub (len $pageArr) 1)) }}
            <a
                class="pagination-next"
                href="{{ if lt $paginator.PageNumber $total }}{{ (index $paginator.Pagers $paginator.PageNumber).URL }}{{ end }}"
                style="color: {{ if lt $max $total }}var(--logo-main){{ else }}var(--bk){{ end }};{{ if eq $paginator.PageNumber $total }} pointer-events: none; opacity: 0.5;{{ end }}"
                id="btnNext"
                ><span></span
            ></a>
        </div>
    </div>
</section>

{{ end }}
