{{ define "css" }}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/product.css" />
{{ end }} {{ define "js" }}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
<script src="/js/ani.js" defer></script>
{{ end }} {{ define "main" }}

<section class="product-visual">
    <div class="container">
        <div class="product-visul-top">
            <div class="product-title">
                <h2 class="ani">제품</h2>
                <strong class="ani-2">
                    ㈜대도엔텍, <br />
                    재해 예방을 위한 최고의 선택
                </strong>
            </div>

            <ul class="product-tabmenu ani-2">
                <li><a class="active" href="/product/movable-weir/">가동보</a></li>
                <li><a href="/product/product2-1/">홍수방어벽</a></li>
                <li><a href="/product/movable-weir/">홍수방어문</a></li>
                <li><a href="/product/movable-weir/">수문</a></li>
            </ul>
        </div>
    </div>

    <div class="product-visual-bg ani-3">
        <img src="/images/product/product-visual-bg1.png" alt="bg" />
    </div>
</section>

<!-- //e: product-visual  -->

<section class="product-sec rubber-dam">
    <div class="container">
        <div class="rubber-dam-info">
            <div class="rubber-dam-title">
                <strong data-aos="fade-up">Rubber Dam</strong>
                <h3 data-aos="fade-up" data-aos-delay="300">유압식가동보</h3>
            </div>

            <ul class="movable-weir-tab-menu" data-aos="fade-up" data-aos-delay="300">
                <li><a href="/product/movable-weir/">고무보</a></li>
                <li><a href="/product/steel-weir/">SR가동보</a></li>
                <li><a class="active" href="/product/hydraulic-weir/">유압식가동보</a></li>
            </ul>
        </div>

        <div class="rubber-dam-subtitle product-sec-subtitle">
            <h4 data-aos="fade-up" data-aos-delay="500">
                <span>정밀한 수위조절 가능, 유지관리 용이</span> <br />
                유압장치에 의해 스테인레스 문비를 기립/전도시키는 형식의 가동보
            </h4>
        </div>

        <figure data-aos="fade-up" data-aos-delay="500">
            <img src="/images/product/hydraulic-weir-1.png" alt="유압식가동보" />
        </figure>

        <table class="rubber-dam-table" data-aos="fade-up">
            <tr>
                <td class="col-title">재질</td>
                <td class="col-text">스테인리스(STS304)</td>
            </tr>
            <tr>
                <td class="col-title">기립방식</td>
                <td class="col-text">유압장치에 의한 스테인레스 문비 기립/전도</td>
            </tr>
            <tr>
                <td class="col-title">내구연한</td>
                <td class="col-text">30년 이상</td>
            </tr>
            <tr>
                <td class="col-title">구성</td>
                <td class="col-text">유압발생장치 / 수위 조절장치 / 조작판넬</td>
            </tr>
        </table>
    </div>
</section>

<!-- //e: sec1 -->

<section class="product-sec">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>제품 특징</span> <br />
                제품을 소개합니다.
            </h4>
        </div>
        <ul class="hydraulic-weir-features" data-aos="fade-up" data-aos-delay="300">
            <li>
                <img src="/images/product/hydraulic-weir-sec2-pic1.png" alt="제품 특징" />
            </li>
            <li>
                <img src="/images/product/hydraulic-weir-sec2-pic2.png" alt="제품 특징" />
            </li>
        </ul>
    </div>
</section>

<!-- //e: sec2 -->

<section class="product-sec product-sec-operating">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>작동원리</span> <br />
                작동원리를 소개합니다.
            </h4>
        </div>

        <div class="operating-info">
            <ul class="operating-info-list" data-aos="fade-up" data-aos-delay="300">
                <li><img src="/images/product/hydraulic-weir-sec3-pic1.png" alt="작동원리" /></li>
                <li><img src="/images/product/hydraulic-weir-sec3-pic2.png" alt="작동원리" /></li>
                <li><img src="/images/product/hydraulic-weir-sec3-pic3.png" alt="작동원리" /></li>
                <li><img src="/images/product/hydraulic-weir-sec3-pic4.png" alt="작동원리" /></li>
            </ul>

            <div class="operating-info-text" data-aos="fade-up" data-aos-delay="300">
                <p>유압실린더 로드가 당겨지며 기립</p>
                <p>유압실린더 로드를 밀면서 도복</p>
            </div>
        </div>
    </div>

    <div class="bg-layer"></div>
</section>

<!-- //e: sec3 -->

<section class="product-sec hydraulic-weir-process">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>시공 과정</span> <br />
                4단계로 살펴보세요.
            </h4>
        </div>
        <ol class="hydraulic-weir-installation-process" data-aos="fade-up" data-aos-delay="300">
            <li>
                <span>STEP 01.</span><img src="/images/product/hydraulic-weir-sec4-pic1.png" alt="현장 기초작업" />
                <p>현장 기초작업</p>
            </li>
            <li>
                <span>STEP 02.</span><img src="/images/product/hydraulic-weir-sec4-pic2.png" alt="가동보 설치" />
                <p>가동보 설치</p>
            </li>
            <li>
                <span>STEP 03.</span><img src="/images/product/hydraulic-weir-sec4-pic3.png" alt="유압장치 설치" />
                <p>유압장치 설치</p>
            </li>
            <li>
                <span>STEP 04.</span><img src="/images/product/hydraulic-weir-sec4-pic4.png" alt="설치 완료" />
                <p>설치 완료</p>
            </li>
        </ol>
    </div>
</section>

<!-- //e: sec4 -->

{{ end }}
