{{ define "css" }}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/product.css" />
{{ end }} {{ define "js" }}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
<script src="/js/ani.js" defer></script>
{{ end }} {{ define "main" }}

<section class="product-visual">
    <div class="container">
        <div class="product-visul-top">
            <div class="product-title">
                <h2 class="ani">제품</h2>
                <strong class="ani-2">
                    ㈜대도엔텍, <br />
                    재해 예방을 위한 최고의 선택
                </strong>
            </div>

            <ul class="product-tabmenu ani-2">
                <li><a class="active" href="/product/product1-1/">가동보</a></li>
                <li><a href="/product/product2-1/">홍수방어벽</a></li>
                <li><a href="/product/product3-1/">자동침수방어벽</a></li>
                <li><a href="#">수문</a></li>
            </ul>
        </div>
    </div>

    <div class="product-visual-bg ani-3">
        <img src="/images/product/product-visual-bg1.png" alt="bg" />
    </div>
</section>

<!-- //e: product-visual  -->

<section class="product-sec rubber-dam">
    <div class="container">
        <div class="rubber-dam-info">
            <div class="rubber-dam-title">
                <strong data-aos="fade-up">SR가동보</strong>
                <h3 data-aos="fade-up" data-aos-delay="300">공압철판가동보</h3>
            </div>

            <ul class="movable-weir-tab-menu" data-aos="fade-up" data-aos-delay="300">
                <li><a href="/product/product1-1/">고무보</a></li>
                <li><a class="active" href="/product/product1-2/">SR가동보</a></li>
                <li><a href="/product/product1-3/">유압식가동보</a></li>
            </ul>
        </div>

        <div class="rubber-dam-subtitle product-sec-subtitle">
            <h4 data-aos="fade-up" data-aos-delay="500">
                <span>에어백에 공기를 공급/배출하여 상부의 스테인레스 패널을</span> <br />
                기립/전도시키는 형식의 가동보 (내구성 증가/유지관리 용이)
            </h4>
        </div>

        <figure data-aos="fade-up" data-aos-delay="500">
            <img src="/images/product/steel-weir-1.png" alt="공압철판가동보" />
        </figure>

        <table class="rubber-dam-table" data-aos="fade-up">
            <tr>
                <td class="col-title">재질</td>
                <td class="col-text">EPDM 고무 + 보강포 + 스테인리스 패널</td>
            </tr>
            <tr>
                <td class="col-title">기립방식</td>
                <td class="col-text">에어백 공기 공급 및 배출에 의한 기립과 도복</td>
            </tr>
            <tr>
                <td class="col-title">내구연한</td>
                <td class="col-text">30년 이상</td>
            </tr>
            <tr>
                <td class="col-title">구성</td>
                <td class="col-text">고구 본체 / 스테인리스 패널 / 고정금구류 / 콘크리트 기초 / 기계설비 / 송풍 파이프</td>
            </tr>
        </table>
    </div>
</section>

<!-- //e: sec1 -->

<section class="product-sec product-sec-process">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>시공 과정</span> <br />
                5단계로 살펴보세요.
            </h4>
        </div>
        <ol class="rubber-dam-installation-process" data-aos="fade-up" data-aos-delay="300">
            <li>
                <span>STEP 01.</span><img src="/images/product/steel-weir-sec2-pic1.png" alt="기초 금구류 설치" />
                <p>기초 금구류 설치</p>
            </li>
            <li>
                <span>STEP 02.</span><img src="/images/product/steel-weir-sec2-pic2.png" alt="에어백 설치" />
                <p>에어백 설치</p>
            </li>
            <li>
                <span>STEP 03.</span><img src="/images/product/steel-weir-sec2-pic3.png" alt="스테인리스 패널 설치" />
                <p>스테인리스 패널 설치</p>
            </li>
            <li>
                <span>STEP 04.</span><img src="/images/product/steel-weir-sec2-pic4.png" alt="조작기기 설치" />
                <p>조작기기 설치</p>
            </li>
            <li>
                <span>STEP 05.</span><img src="/images/product/steel-weir-sec2-pic5.png" alt="설치완료" />
                <p>설치완료</p>
            </li>
        </ol>
    </div>
</section>

<!-- //e: sec2 -->

<!-- //e: sec3 -->

<section class="product-sec steel-weir-sec3">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>상류수위와 스테인리스 패널의 높이를 계측하여 자동 운영</span> <br />
                비상 시 반자동 및 수동조작 가능
            </h4>
        </div>

        <ul class="steel-weir-sec3-list" data-aos="fade-up" data-aos-delay="300">
            <li><img src="/images/product/steel-weir-sec3-pic1.png" alt="공압철판가동보" /></li>
            <li><img src="/images/product/steel-weir-sec3-pic2.png" alt="공압철판가동보" /></li>
            <li><img src="/images/product/steel-weir-sec3-pic3.png" alt="공압철판가동보" /></li>
        </ul>
    </div>

    <div class="bg-layer"></div>
</section>

<!-- //e: sec4 -->

<section class="product-sec steel-weir-diagram">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>SR가동보</span> <br />
                제품 구성도
            </h4>
        </div>

        <div class="steel-weir-diagram-list" data-aos="fade-up" data-aos-delay="300">
            <div class="steel-weir-diagram-list-top">
                <div class="steel-weir-diagram-list-top-left">
                    <img src="/images/product/steel-weir-sec4-pic1.png" alt="SR가동보 제품 구성도" />
                </div>
                <div class="steel-weir-diagram-list-top-right">
                    <img src="/images/product/steel-weir-sec4-pic2.png" alt="스테인리스 패널" />
                    <img src="/images/product/steel-weir-sec4-pic3.png" alt="에어백" />
                </div>
            </div>
            <div class="steel-weir-diagram-list-bottom">
                <img src="/images/product/steel-weir-sec4-pic4.png" alt="고정금구류" />
                <img src="/images/product/steel-weir-sec4-pic5.png" alt="각도계" />
                <img src="/images/product/steel-weir-sec4-pic6.png" alt="전도 및 퇴적방지판" />
            </div>
        </div>
    </div>
</section>

{{ end }}
