{{ define "css" }}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/product.css" />
{{ end }} {{ define "js" }}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
<script src="/js/ani.js" defer></script>
{{ end }} {{ define "main" }}

<section class="product-visual">
    <div class="container">
        <div class="product-visul-top">
            <div class="product-title">
                <h2 class="ani">제품</h2>
                <strong class="ani-2">
                    ㈜대도엔텍, <br />
                    재해 예방을 위한 최고의 선택
                </strong>
            </div>

            <ul class="product-tabmenu ani-2">
                <li><a href="/product/product1-1/">가동보</a></li>
                <li><a href="/product/product2-1/">홍수방어벽</a></li>
                <li><a class="active" href="/product/product3-1/">자동침수방어벽</a></li>
                <li><a href="#">수문</a></li>
            </ul>
        </div>
    </div>

    <div class="product-visual-bg ani-3">
        <img src="/images/product/product-visual-bg3.png" alt="bg" />
    </div>
</section>

<!-- //e: product-visual  -->

<section class="product-sec automatic-flood-barrier">
    <div class="container">
        <div class="automatic-flood-barrier-info">
            <div class="automatic-flood-barrier-title">
                <!-- <strong>Rubber Dam</strong> -->
                <h3 data-aos="fade-up">기립식침수방어벽</h3>
            </div>

            <ul class="automatic-flood-barrier-tab-menu" data-aos="fade-up" data-aos-delay="300">
                <li><a class="active" href="/product/product3-1/">기립식침수방어벽</a></li>
                <li><a href="/product/product3-2/">슬라이딩침수방어벽</a></li>
            </ul>
        </div>

        <div class="automatic-flood-barrier-subtitle product-sec-subtitle">
            <h4 data-aos="fade-up" data-aos-delay="500">
                <span>수위에 따라 자동으로 개폐되는 공압식 자동침수방어벽</span> <br />
                (경관성, 안전성, 내구성 획기적 증대)
            </h4>

            <p data-aos="fade-up" data-aos-delay="700">
                - 평상시 바닥에 은폐하여 도로나 보행로로 사용 <br />
                - 비상시 90도 기립하여 홍수 피해 방지 <br />
                - 지하공간 등 주요 시설물 침수방지 활용 가능 <br />
                - 공압시스템 사용으로 유지관리 편의성 확보 <br />
                - 전력공급이 차단된 상태에서 휴대용 발전기와 소형 컴프레셔로 작동가능
            </p>

            <figure data-aos="fade-up" data-aos-delay="500"><img src="/images/product/product3-1-sec1-pic1.png" alt="자동침수방어벽" /></figure>
        </div>
    </div>
</section>

<!-- //e: sec1 -->

<section class="product-sec rising-flood-barrier-operating">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>작동원리</span> <br />
                작동원리를 소개합니다.
            </h4>
        </div>

        <div class="product3-1-sec2-con">
            <div class="rising-flood-barrier-operating-top">
                <h4 data-aos="fade-up" data-aos-delay="300">
                    평상시에는 바닥에 은폐되어 <span>도로나 보행로로 활용,</span> <br />
                    <span>비상시에는 90도로 기립</span>하여 홍수 피해 방지효과가 되고 <br />
                    <span>공압시스템</span> 사용으로 유지관리 편의성 확보
                </h4>
                <ul class="rising-flood-barrier-operating-img" data-aos="fade-up" data-aos-delay="500">
                    <li><img src="/images/product/product3-1-sec2-img1.png" alt="기립식침수방어벽" /></li>
                    <li><img src="/images/product/product3-1-sec2-img2.png" alt="기립식침수방어벽" /></li>
                    <li><img src="/images/product/product3-1-sec2-img3.png" alt="기립식침수방어벽" /></li>
                </ul>
            </div>
            <div class="down-arrow" data-aos="fade-up" data-aos-delay="300"><span></span></div>

            <div class="rising-flood-barrier-operating-bottom">
                <h4 data-aos="fade-up" data-aos-delay="300">
                    <span>고정장치로 견고하게 고정되어</span> <br />
                    물의 흐름방향과 반대방향 모두 작동 가능
                </h4>
                <ul class="rising-flood-barrier-operating-ex" data-aos="fade-up" data-aos-delay="500">
                    <li><img src="/images/product/product3-1-sec2-ex1.png" alt="기립식침수방어벽 작동원리 예시1" /></li>
                    <li><img src="/images/product/product3-1-sec2-ex2.png" alt="기립식침수방어벽 작동원리 예시2" /></li>
                    <li><img src="/images/product/product3-1-sec2-ex3.png" alt="기립식침수방어벽 작동원리 예시3" /></li>
                    <li><img src="/images/product/product3-1-sec2-ex4.png" alt="기립식침수방어벽 작동원리 예시4" /></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- //e: sec2 -->

<section class="product-sec">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up"><span>침수방어벽</span> 고정장치</h4>
        </div>

        <div class="product3-1-sec3-con" data-aos="fade-up" data-aos-delay="300">
            <p>
                - 프레임과 연결된 고정장치로 차수판을 견고하게 고정 <br />
                - 해제시 최소한의 유압 또는 공압을 사용하여 고정 해제 가능 <br />
                - 자동침수방어벽을 양방향으로 고정하여 양방향 설치 가능
            </p>

            <figure data-aos="fade-up" data-aos-delay="500">
                <img src="/images/product/product3-1-sec3-pic1.png" alt="침수방어벽 고정장치" />
            </figure>
        </div>
    </div>
</section>

<!-- //e: sec3 -->

<section class="product-sec rising-flood-barrier-sec4">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>자동침수방어벽은 옹벽에 설치할 수 있어</span> <br />
                하천이나 해안가 옹벽에 추가공사를 하지 않고 설치 가능
            </h4>
        </div>

        <figure data-aos="fade-up" data-aos-delay="300">
            <img
                src="/images/product/product3-1-sec4-pic1.png"
                alt="자동침수방어벽은 옹벽에 설치할 수 있어 하천이나 해안가 옹벽에 추가공사를 하지 않고 설치 가능"
            />
        </figure>
    </div>
</section>

<!-- //e: sec4 -->

<section class="product-sec">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>제품 특징</span> <br />
                제품을 소개합니다.
            </h4>
        </div>

        <ul class="rising-flood-barrier-features" data-aos="fade-up" data-aos-delay="300">
            <li>
                <img src="/images/product/product3-1-sec5-pic1.png" alt="전 자재 KS 규격" />
                <p>전 자재 KS 규격</p>
            </li>
            <li>
                <img src="/images/product/product3-1-sec5-pic2.png" alt="높이 3.0m 규모의 자동침수방어벽" />
                <p>높이 3.0m 규모의 자동침수방어벽</p>
            </li>
        </ul>
    </div>
</section>

<!-- //e: sec5 -->

<section class="product-sec rising-flood-barrier-sec6">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up"><span>구조검토</span></h4>
        </div>

        <ul class="structural-review" data-aos="fade-up" data-aos-delay="300">
            <li>
                <img src="/images/product/product3-1-sec6-pic1.png" alt="구조검토" />
                <p>
                    - 설치 대상지 모델링 / 시뮬레이션으로 침수 방지 효과 검토 <br />
                    - 최대 파압, 풍하중, 차량하중 등 외력 산정
                </p>
            </li>
            <li>
                <img src="/images/product/product3-1-sec6-pic2.png" alt="구조검토" />
                <p>- 산정된 외력으로 적정한 규모의 공법 설계</p>
            </li>
        </ul>
    </div>

    <div class="bg-layer"></div>
</section>

<!-- //e: sec6 -->

<section class="product-sec automatic-flood-barrier-diagram">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>기립식침수방어벽</span> <br />
                제품 구성도
            </h4>
        </div>

        <figure data-aos="fade-up" data-aos-delay="300">
            <img src="/images/product/product3-1-sec7-pic1.png" alt="기립식침수방어벽 제품 구성도" />
        </figure>
    </div>
</section>

<!-- //e: sec7 -->

{{ end }}
