{{ define "css" }}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/product.css" />
{{ end }} {{ define "js" }}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
<script src="/js/ani.js" defer></script>
{{ end }} {{ define "main" }}

<section class="product-visual">
    <div class="container">
        <div class="product-visul-top">
            <div class="product-title">
                <h2 class="ani">제품</h2>
                <strong class="ani-2">
                    ㈜대도엔텍, <br />
                    재해 예방을 위한 최고의 선택
                </strong>
            </div>

            <ul class="product-tabmenu ani-2">
                <li><a class="active" href="/product1-1/">가동보</a></li>
                <li><a href="/product2-1/">홍수방어벽</a></li>
                <li><a href="/product3-1/">자동침수방어벽</a></li>
                <li><a href="#">수문</a></li>
            </ul>
        </div>
    </div>

    <div class="product-visual-bg ani-3">
        <img src="/images/product/product-visual-bg1.png" alt="bg" />
    </div>
</section>

<!-- //e: product-visual  -->

<section class="product-sec rubber-dam">
    <div class="container">
        <div class="rubber-dam-info">
            <div class="rubber-dam-title">
                <strong data-aos="fade-up">Rubber Dam</strong>
                <h3 data-aos="fade-up" data-aos-delay="300">고무보</h3>
            </div>

            <ul class="movable-weir-tab-menu" data-aos="fade-up" data-aos-delay="300">
                <li><a class="active" href="/product1-1/">고무보</a></li>
                <li><a href="/product1-2/">SR가동보</a></li>
                <li><a href="/product1-3/">유압식가동보</a></li>
            </ul>
        </div>

        <div class="rubber-dam-subtitle product-sec-subtitle">
            <h4 data-aos="fade-up" data-aos-delay="500">
                <span>특수제작된 고무본체에 공기를 주입/배출하여</span> <br />
                고무본체를 기립/전도시키는 공압식 고무보 공법
            </h4>

            <p data-aos="fade-up" data-aos-delay="300">
                - 최대규모 고무보 : 낙동강, 안동 국내 <br />
                - 지역 특색을 고려 하회탈 눈을 형상화한 아치형 보 (3.0mH × 297.0mL)
            </p>
        </div>

        <figure data-aos="fade-up" data-aos-delay="500">
            <img src="/images/product/rubber-dam-1.png" alt="고무보" />
        </figure>

        <table class="rubber-dam-table" data-aos="fade-up">
            <tr>
                <td class="col-title">재질</td>
                <td class="col-text">EPDM 고무 + 보강포(안전성)</td>
            </tr>
            <tr>
                <td class="col-title">기립방식</td>
                <td class="col-text">에어백 공기 공급 및 배출에 의한 기립과 도복(편의성)</td>
            </tr>
            <tr>
                <td class="col-title">내구연한</td>
                <td class="col-text">30년 이상(내구성)</td>
            </tr>
            <tr>
                <td class="col-title">구성</td>
                <td class="col-text">고구 본체 / 고정금구류 / 콘크리트 기초 / 기계설비 / 송풍 파이프</td>
            </tr>
        </table>
    </div>
</section>

<!-- //e: sec1 -->

<section class="product-sec">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>제품 특징</span> <br />
                핵심 기능 및 특허를 소개합니다.
            </h4>
        </div>
        <ul class="rubber-dam-features" data-aos="fade-up" data-aos-delay="300">
            <li>
                <img src="/images/product/rubber-dam-sec2-pic1.png" alt="기립 및 도복의 확실성" />
                <p>기립 및 도복의 확실성</p>
            </li>
            <li>
                <img src="/images/product/rubber-dam-sec2-pic2.png" alt="퇴적토사에 강한 유연성" />
                <p>퇴적토사에 강한 유연성</p>
            </li>
            <li>
                <img src="/images/product/rubber-dam-sec2-pic3.png" alt="스마트폰 앱을 이용한 최첨단 감시시스템" />
                <p>스마트폰 앱을 이용한 최첨단 감시시스템</p>
                <span>자동제어시스템과 스마트폰을 연동하여 언제 어디서나 상태 감시</span>
            </li>
            <li>
                <img src="/images/product/rubber-dam-sec2-pic4.png" alt="환경성을 강화한 공압식 저층수 배출시스템" />
                <p>스마트폰 앱을 이용한 최첨단 감시시스템</p>
                <span>특허 제10-0878887호</span>
            </li>
            <li>
                <img src="/images/product/rubber-dam-sec2-pic5.png" alt="안전성을 강화한 고무본체 보호커버" />
                <p>안전성을 강화한 고무본체 보호커버</p>
                <span>특허 제10-0768556호</span>
            </li>
            <li>
                <img src="/images/product/rubber-dam-sec2-pic6.png" alt="내구성을 강화한 격자형 보강포 구조 고무본체" />
                <p>내구성을 강화한 격자형 보강포 구조 고무본체</p>
                <span>특허 제10-0737839호</span>
            </li>
        </ul>
    </div>
</section>

<!-- //e: sec2 -->

<section class="product-sec">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>특허 보유</span>
            </h4>
        </div>
        <ul class="rubber-dam-patent" data-aos="fade-up" data-aos-delay="300">
            <li>
                <img src="/images/product/rubber-dam-patent-img1.png" alt="건설신기술 738호" />
                <p>건설신기술 738호</p>
                <span>
                    “장기 신장률 저감을 위한 격자형 보강포 구조를 <br />
                    갖는 고무보 고무본체와 보호커버 체결 시공기술”
                </span>
            </li>
            <li>
                <img src="/images/product/rubber-dam-patent-img2.png" alt="특허 제10-0737839호" />
                <p>특허 제10-0737839호</p>
                <span>“고무댐용 고무판체 및 이의 제조방법”</span>
            </li>
            <li>
                <img src="/images/product/rubber-dam-patent-img3.png" alt="특허 제10-0768556호" />
                <p>특허 제10-0768556호</p>
                <span>“고무댐 보호커버 고정구조”</span>
            </li>
            <li>
                <img src="/images/product/rubber-dam-patent-img4.png" alt="특허 제10-0878887호" />
                <p>특허 제10-0878887호</p>
                <span>“가동보 바이패스관의 개폐장치”</span>
            </li>
        </ul>
    </div>
</section>

<!-- //e: rubber-dam-patent -->

<section class="product-sec product-sec-process">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>시공 과정</span> <br />
                6단계로 살펴보세요.
            </h4>
        </div>
        <ol class="rubber-dam-installation-process" data-aos="fade-up" data-aos-delay="300">
            <li>
                <span>STEP 01.</span><img src="/images/product/rubber-dam-sec3-pic1.png" alt="기초 금구류 설치" />
                <p>기초 금구류 설치</p>
            </li>
            <li>
                <span>STEP 02.</span><img src="/images/product/rubber-dam-sec3-pic2.png" alt="기초 콘크리트 타설" />
                <p>기초 콘크리트 타설</p>
            </li>
            <li>
                <span>STEP 03.</span><img src="/images/product/rubber-dam-sec3-pic3.png" alt="고무본체 설치" />
                <p>고무본체 설치</p>
            </li>
            <li>
                <span>STEP 04.</span><img src="/images/product/rubber-dam-sec3-pic4.png" alt="보호커버 설치" />
                <p>보호커버 설치</p>
            </li>
            <li>
                <span>STEP 05.</span><img src="/images/product/rubber-dam-sec3-pic5.png" alt="조작기기 설치" />
                <p>조작기기 설치</p>
            </li>
            <li>
                <span>STEP 06.</span><img src="/images/product/rubber-dam-sec3-pic6.png" alt="고무보 설치 완료" />
                <p>고무보 설치 완료</p>
            </li>
        </ol>
    </div>
</section>

<!-- //e: sec3 -->

<section class="product-sec rubber-dam-sec4">
    <div class="container">
        <div class="highest-rubber-dam" data-aos="fade-up">
            <div class="product-sec-subtitle">
                <h4>
                    <span>국내 최고 높이 고무보</span> <br />경기도 파주시 가온호수공원 시공 <br />
                    (5.0mH X 29.0mL)
                </h4>
            </div>
            <figure>
                <img src="/images/product/rubber-dam-sec4-pic1.png" alt="국내 최고 높이 고무보" />
            </figure>
        </div>
    </div>

    <div class="bg-layer"></div>
</section>

<!-- //e: sec4 -->

<section class="product-sec product-sec-diagram">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>고무보</span> <br />
                제품 구성도
            </h4>
        </div>

        <figure data-aos="fade-up" data-aos-delay="300">
            <img src="/images/product/rubber-dam-sec5-pic1.png" alt="고무보 제품 구성도" />
        </figure>

        <figure data-aos="fade-up" data-aos-delay="300">
            <img src="/images/product/rubber-dam-sec5-pic2.png" alt="고무보 제품 구성도" />
        </figure>
    </div>
</section>

{{ end }}
