{{ define "css" }}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
<link rel="stylesheet" href="/css/product.css" />
{{ end }} {{ define "js" }}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
<script src="/js/ani.js" defer></script>
{{ end }} {{ define "main" }}

<section class="product-visual">
    <div class="container">
        <div class="product-visul-top">
            <div class="product-title">
                <h2 class="ani">제품</h2>
                <strong class="ani-2">
                    ㈜대도엔텍, <br />
                    재해 예방을 위한 최고의 선택
                </strong>
            </div>

            <ul class="product-tabmenu ani-2">
                <li><a href="/product/movable-weir/">가동보</a></li>
                <li><a class="active" href="/product/product2-1/">홍수방어벽</a></li>
                <li><a href="/product/movable-weir/">홍수방어문</a></li>
                <li><a href="/product/movable-weir/">수문</a></li>
            </ul>
        </div>
    </div>

    <div class="product-visual-bg ani-3">
        <img src="/images/product/product-visual-bg2.png" alt="bg" />
    </div>
</section>

<!-- //e: product-visual  -->

<section class="product-sec flood-barrier">
    <div class="container">
        <div class="flood-barrier-info">
            <div class="flood-barrier-title">
                <!-- <strong>Rubber Dam</strong> -->
                <h3 data-aos="fade-up">투명홍수방어벽</h3>
            </div>

            <ul class="flood-barrier-tab-menu" data-aos="fade-up" data-aos-delay="300">
                <li><a class="active" href="/product/product2-1/">투명홍수방어벽</a></li>
                <li><a href="/product/product2-2/">화단형홍수방어벽</a></li>
                <li><a href="/product/product2-3/">지주식홍수방어벽</a></li>
            </ul>
        </div>

        <div class="flood-barrier-main-title-top">
            <h4 data-aos="fade-up" data-aos-delay="500">
                <span>지구 온난화 및 도시화 등으로 내수배제능력 초과 강우 및</span> <br />
                제방의 범람 위험성이 커지면서 국가적으로 재산피해와 인명피해 증가
            </h4>

            <ul class="flood-barrier-box-list" data-aos="fade-up" data-aos-delay="500">
                <li>
                    <p>심미적요구 증가</p>
                </li>
                <li>
                    <p>제방여유고 부족</p>
                </li>
                <li>
                    <p>이상강우, 유량증가</p>
                </li>
                <li>
                    <p>도시화, 지구온난화</p>
                </li>
                <li>
                    <p>
                        콘크리트 파라펫 <br />
                        <span>하천경관 약화, 하천접근 약화</span>
                    </p>
                </li>
                <li>
                    <p>
                        제방증축 <br />
                        <span>용지확보, 구도심 불가능</span>
                    </p>
                </li>
            </ul>
        </div>

        <div class="flood-barrier-main-title-bottom">
            <h4 data-aos="fade-up" data-aos-delay="300">
                <span>제방 여유고 부족 구간에 콘크리트 파라펫(흉벽, Parapet) 대신</span> <br />
                방호유리를 설치하여 하천 경관성 및 조망권 개선
            </h4>

            <figure data-aos="fade-up" data-aos-delay="500">
                <img src="/images/product/flood-barrier1-sec1-pic.png" alt="투명홍수방어벽" />
            </figure>
        </div>
    </div>
</section>

<!-- //e: sec1 -->

<section class="product-sec">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>제품 특징</span> <br />
                핵심 기능을 소개합니다.
            </h4>
        </div>
        <ul class="flood-barrier-features" data-aos="fade-up" data-aos-delay="300">
            <li>
                <img src="/images/product/flood-barrier1-sec2-pic1.png" alt="이중접합 강화유리" />
                <p>이중접합 강화유리</p>
                <span>강화 접합 유리 (25.52mm)</span>
            </li>
            <li>
                <img src="/images/product/flood-barrier1-sec2-pic2.png" alt="충격 흡수 댐퍼" />
                <p>충격 흡수 댐퍼</p>
                <span>유리와 수평지주의 직접접촉을 방지하여 파손방지</span>
            </li>
            <li>
                <img src="/images/product/flood-barrier1-sec2-pic3.png" alt="하단부 매립구조" />
                <p>하단부 매립구조</p>
                <span
                    >강화 접합 유리 (25.52mm) / 바닥몰딩(STS304) / <br />
                    홈 천공 후 몰탈 채움</span
                >
            </li>
            <li>
                <img src="/images/product/flood-barrier1-sec2-pic4.png" alt="전 자재 KS 규격" />
                <p>전 자재 KS 규격</p>
            </li>
        </ul>
    </div>
</section>

<!-- //e: sec2 -->

<section class="product-sec">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up"><span>경관성 확보 및</span> 조망권 개선</h4>

            <p class="flood-barrier-sec3-text" data-aos="fade-up" data-aos-delay="300">
                - 안전하고 수려한 시각적 경관 제공 <br />
                - 해안가 인접 민가, 상가의 조망권 침해 해소 <br />
                - 관광지 둘레길, 해안 도로의 경관성 개선으로 시민의 심미적 욕구 충족 <br />
                - LED조명 활용 시 야간 경관 우수
            </p>
        </div>

        <ul class="flood-barrier-sec3-img" data-aos="fade-up" data-aos-delay="500">
            <li><img src="/images/product/flood-barrier1-sec3-pic1.png" alt="주간" /></li>
            <li><img src="/images/product/flood-barrier1-sec3-pic2.png" alt="야갼" /></li>
        </ul>
    </div>
</section>

<!-- //e: sec3 -->

<section class="product-sec">
    <div class="container">
        <div class="safety-assurance">
            <div class="product-sec-subtitle">
                <h4 data-aos="fade-up">
                    <span>안정성 확보</span> <br />
                    주요 특징을 소개합니다.
                </h4>
            </div>

            <ul class="flood-barrier-sec4-features">
                <li data-aos="fade-up" data-aos-delay="100">
                    <span class="sec4-features-ico"></span>
                    <strong>안전성</strong>
                    <p>
                        친환경적인 UV RESIN 접합유리 <br />
                        (한국화학융합시험연구원 테스트 완료)
                    </p>
                </li>
                <li data-aos="fade-up" data-aos-delay="200">
                    <span class="sec4-features-ico"></span>
                    <strong>소음감소</strong>
                    <p>
                        기존 접합유리보다 소음 차단 탁월 <br />
                        (35.9DB) (독일 DIN52290 만족) <br />
                        - 국내 층간 소음 데시벨 43DB 이하
                    </p>
                </li>
                <li data-aos="fade-up" data-aos-delay="300">
                    <span class="sec4-features-ico"></span>
                    <strong>내구성</strong>
                    <p>
                        낙하충격에 강함, 강구 1KG을 <br />
                        4.8M 높이 낙하 (KS L 2004 만족)
                    </p>
                </li>
                <li data-aos="fade-up" data-aos-delay="400">
                    <span class="sec4-features-ico"></span>
                    <strong>자외선 차단</strong>
                    <p>
                        자외선 통제 기능 태양으로부터 유해한 <br />
                        자외선 99% 이상 차단, 변색 및 탈색 방지
                    </p>
                </li>
            </ul>
        </div>
    </div>
</section>

<!-- //e: sec4 -->

<section class="product-sec safety-review">
    <div class="container">
        <div class="product-sec-subtitle">
            <h4 data-aos="fade-up">
                <span>방호유리(이중 접합유리)</span> <br />
                안전도 검토
            </h4>
        </div>

        <div class="safety-review-con1">
            <ul class="safety-review-con1-img" data-aos="fade-up" data-aos-delay="300">
                <li>
                    <img
                        src="/images/product/flood-barrier1-sec5-con1-img1.png"
                        alt="방호유리(이중 접합유리) 안전도 검토"
                    />
                </li>
                <li>
                    <img
                        src="/images/product/flood-barrier1-sec5-con1-img2.png"
                        alt="방호유리(이중 접합유리) 안전도 검토"
                    />
                </li>
                <li>
                    <img
                        src="/images/product/flood-barrier1-sec5-con1-img3.png"
                        alt="방호유리(이중 접합유리) 안전도 검토"
                    />
                </li>
            </ul>

            <div class="safety-review-table-wrap" data-aos="fade-up" data-aos-delay="300">
                <table class="safety-review-table">
                    <thead>
                        <tr>
                            <th rowspan="2" class="th-main">구분</th>
                            <th colspan="4" class="th-group th-blue">강화유리 발생 응력(Mpa)</th>
                            <th colspan="4" class="th-group th-blue">지주 발생 응력(Mpa)</th>
                        </tr>
                        <tr>
                            <th>장기하중<br />(면내)</th>
                            <th>장기하중<br />(연결부)</th>
                            <th>단기하중<br />(면내)</th>
                            <th>단기하중<br />(연결부)</th>
                            <th>장기하중<br />(힘)</th>
                            <th>장기하중<br />(전단)</th>
                            <th>단기하중<br />(힘)</th>
                            <th>단기하중<br />(전단)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="th-row">수평지주 미적용</td>
                            <td>13.53</td>
                            <td>8.09</td>
                            <td>55.31</td>
                            <td>20.73</td>
                            <td>88.74</td>
                            <td>8.55</td>
                            <td>355.74</td>
                            <td>20.64</td>
                        </tr>
                        <tr>
                            <td class="th-row">수평지주 적용</td>
                            <td>9.74</td>
                            <td>5.68</td>
                            <td>28.81</td>
                            <td>15.18</td>
                            <td>59.34</td>
                            <td>3.87</td>
                            <td>163.78</td>
                            <td>9.32</td>
                        </tr>
                        <tr>
                            <td class="th-row">개선도</td>
                            <td class="td-blue">28.0%</td>
                            <td class="td-blue">29.7%</td>
                            <td class="td-blue">47.9%</td>
                            <td class="td-blue">26.7%</td>
                            <td class="td-blue">33.1%</td>
                            <td class="td-blue">54.7%</td>
                            <td class="td-blue">53.9%</td>
                            <td class="td-blue">54.8%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="safety-review-con2">
            <div class="safety-review-con2-text">
                <p data-aos="fade-up" data-aos-delay="300">
                    수평지주 적용 시 기존기술(수평지주 미적용) 대비 <br />
                    면내응력은 <span>최대 47.9%</span>, 지주 발생 응력은 <span>최대 54.8%</span> 감소시킨
                    <span>안전한 기술</span>
                </p>
            </div>

            <ul class="safety-review-con2-img" data-aos="fade-up" data-aos-delay="500">
                <li>
                    <img src="/images/product/flood-barrier1-sec5-con2-img1.png" alt="혁신제품 지정 인증서" />
                </li>
                <li><img src="/images/product/flood-barrier1-sec5-con2-img2.png" alt="특허증" /></li>
                <li>
                    <img src="/images/product/flood-barrier1-sec5-con2-img3.png" alt="신기술 인증서" />
                </li>
            </ul>
        </div>
    </div>

    <div class="bg-layer"></div>
</section>

<!-- //e: sec5 -->

{{ end }}
