@charset 'utf-8';

:root {
    font-size: 62.5%;

    /* color */
    --logo-main: #006fbc;
    --logo-sub-01: #00a0e9;
    --logo-sub-02: #8fd3f5;
    --logo-gray: #9fa0a0;
    --gray: #666666;
    --bk: #212121;
    --fff: #fff;
    --ddd: #dddddd;
    --bg-01: #f9f9f9;
    --bg-02: #f4fbfe;
    --main-80: #001626;

    /* font */

    /* Title */
    --title-80-size: 8rem;
    --title-80-line-height: 1;
    --title-80-weight: 800;

    --title-64-size: 6.4rem;
    --title-64-line-height: 1.25;
    --title-64-weight: 700;

    /* Subtitle */
    --sub-title-48-size: 4.8rem;
    --sub-title-48-line-height: 1.25;
    --sub-title-48-weight: 700;

    --sub-title-32-size: 3.2rem;
    --sub-title-32-line-height: 1.375;
    --sub-title-32-weight: 700;

    --sub-title-24-size: 2.4rem;
    --sub-title-24-line-height: 1.333;
    --sub-title-24-weight: 600;

    /* Paragraph - 18 */
    --p-18-size: 1.8rem;
    --p-18-line-height: 1.444;
    --p-18-weight: 500;
    --p-18-sb-weight: 600;

    /* Paragraph - 16 */
    --p-16-size: 1.6rem;
    --p-16-line-height: 1.5;
    --p-16-weight: 400;
    --p-16-sb-weight: 600;

    /* Paragraph - 14 */
    --p-14-size: 1.4rem;
    --p-14-line-height: 1.429;
    --p-14-weight: 400;
    --p-14-sb-weight: 600;
}

main {
    padding-top: 9rem;
}

/* s: product-visual */

.product-visul-top {
    margin-top: 9rem;
    display: flex;
    justify-content: space-between;
}

.product-title h2 {
    font-size: var(--p-16-size);
    font-weight: var(--p-16-sb-weight);
    line-height: var(--p-16-line-height);
    color: var(--logo-gray);
}

.product-title strong {
    margin-top: 2.4rem;
    display: block;
    font-size: var(--sub-title-48-size);
    font-weight: var(--sub-title-48-weight);
    line-height: var(--sub-title-48-line-height);
}

.product-tabmenu {
    display: flex;
    margin-top: 13rem;
    gap: 1.2rem; /* 밑줄이 떨어져 보이도록 */
}

.product-tabmenu li a {
    position: relative;
    padding: 2.4rem 2.4rem 1.2rem 2.4rem;
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--logo-gray);
    transition: color 0.2s;
    text-align: center;
}

.product-tabmenu li a:hover {
    color: var(--logo-sub-01);
}

.product-tabmenu li a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background: var(--logo-sub-01);
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.35s cubic-bezier(0.38, 1.15, 0.7, 1.02);
    /* opacity로도 부드럽게 하고 싶으면, transition에 opacity도 추가 가능 */
}

/* Hover/Focus시 밑줄 중앙에서 좌우로 퍼짐 */
.product-tabmenu li a:hover::after,
.product-tabmenu li a:focus::after,
.product-tabmenu li a.active::after {
    transform: translateX(-50%) scaleX(1);
}

/* active 탭 글자색 강조 예시(원하면 추가) */
.product-tabmenu li a.active {
    color: var(--logo-sub-01);
}

.product-visual-bg {
    margin-top: 10rem;
    width: 100%;
    height: 50.6rem;
}

.product-visual-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    transition: 4s;
}

.product-visual-bg img:hover {
    scale: 1.1;
}

/* //e: product-visual */

.product-sec {
    margin-top: 16rem;
}

.product-sec h4 {
    font-size: var(--sub-title-32-size);
    font-weight: var(--sub-title-32-weight);
    line-height: var(--sub-title-32-line-height);
    color: var(--bk);
}

.product-sec h4 span {
    color: var(--logo-sub-01);
}

.product-sec-subtitle h4::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 0.2rem;
    background: var(--logo-sub-02);
    margin-bottom: 2.4rem;
}

/* s: rubber-dam */

.rubber-dam-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rubber-dam-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rubber-dam-title strong {
    font-size: var(--p-14-size);
    font-weight: var(--p-14-sb-weight);
    line-height: var(--p-14-line-height);
    color: var(--logo-sub-02);
}

.rubber-dam-title h3 {
    margin-top: 1.2rem;
    font-size: var(--sub-title-48-size);
    font-weight: var(--sub-title-48-weight);
    line-height: var(--sub-title-48-line-height);
    color: var(--bk);
}

.movable-weir-tab-menu {
    margin-top: 4.8rem;
    display: flex;
    gap: 4.8rem;
}

.movable-weir-tab-menu li {
    position: relative;
}

.movable-weir-tab-menu li + li::before {
    content: '';
    display: block;
    width: 0.1rem;
    height: 1.6rem;
    background: var(--logo-gray);
    position: absolute;
    top: 50%;
    left: -2.4rem;
    transform: translateY(-50%);
}

.movable-weir-tab-menu li a {
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--logo-gray);
}

.movable-weir-tab-menu a.active {
    color: var(--logo-sub-01);
}

.movable-weir-tab-menu li a {
    transition: 0.4s;
}

.movable-weir-tab-menu li a:hover {
    color: var(--logo-sub-01);
}

.rubber-dam-subtitle {
    margin-top: 10rem;
}

.rubber-dam-subtitle h4::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url('/images/product/rubber-dam-ico1.svg') no-repeat 50%;
    margin-bottom: 2.4rem;
}

.rubber-dam-subtitle p {
    margin-top: 2.4rem;
    font-size: var(--p-18-size);
    font-weight: var(--p-18-weight);
    line-height: var(--p-18-line-height);
    color: var(--gray);
}

.rubber-dam figure {
    margin-top: 10rem;
    width: 100%;
    height: 62rem;
}

.rubber-dam figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rubber-dam-table {
    margin-top: 10rem;
    width: 100%;
    border-collapse: collapse; /* 셀의 보더 하나로 보이게 */
    table-layout: fixed;
    border-bottom: 1px solid var(--logo-sub-02);
}

.rubber-dam-table tr {
    height: 7.4rem;
    border-top: 1px solid var(--logo-sub-02);
}

.rubber-dam-table td {
    padding: 2.4rem;
}

.col-title {
    width: 19rem;
    background: var(--bg-02);
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--logo-main);
}

.col-text {
    width: 125rem;
    font-size: var(--p-16-size);
    font-weight: var(--p-16-weight);
    line-height: var(--p-16-line-height);
    color: var(--bk);
}

/* s: product-sec2 */

.rubber-dam-features {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4.8rem 2.4rem;
    text-align: center;
}

.rubber-dam-features li {
    width: 46.4rem;
    height: 35rem;
}

.rubber-dam-features li img {
    width: 100%;
    height: 27rem;
    object-fit: cover;
}

.rubber-dam-features li p {
    margin-top: 2.4rem;
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--bk);
}

.rubber-dam-features li span {
    margin-top: 0.6rem;
    font-size: var(--p-16-size);
    font-weight: var(--p-16-weight);
    line-height: var(--p-16-line-height);
    color: var(--gray);
}

/* s: product-sec3 */

.product-sec-process {
    background: var(--bg-02);
    padding: 16rem 0;
}

.rubber-dam-installation-process {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4.8rem 6rem;
}

.rubber-dam-installation-process li {
    position: relative;
}

.rubber-dam-installation-process li:not(:nth-child(1)):not(:nth-child(4))::before {
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: url('/images/product/rubber-dam-sec3-ico.svg') no-repeat 50%;
    position: absolute;
    top: 50%;
    left: -3.6rem;
    transform: translateY(-50%);
}

.rubber-dam-installation-process li span {
    font-size: var(--p-16-size);
    font-weight: var(--p-16-sb-weight);
    line-height: var(--p-16-line-height);
    color: var(--logo-main);
    width: 44rem;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--logo-main);
    background: var(--fff);
}

.rubber-dam-installation-process li img {
    width: 44rem;
    height: 25.6rem;
    object-fit: cover;
}

.rubber-dam-installation-process li p {
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--fff);
    width: 44rem;
    height: 5.8rem;
    background: var(--logo-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* s: product-sec4 */

.rubber-dam-sec4 {
    position: relative; /* bg-layer */
}

.rubber-dam-sec4 .bg-layer {
    bottom: -16rem;
}

.highest-rubber-dam {
    display: flex;
    gap: 12.2rem;
}

.highest-rubber-dam figure {
    width: 85.4rem;
    height: 62rem;
}

.highest-rubber-dam figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* s: product-sec5 */

.product-sec-diagram {
    background: var(--bg-01);
    padding: 16rem 0 20rem 0;
}

.product-sec-diagram figure {
    margin-top: 10rem;
    width: 100%;
    height: 62rem;
}

.rubber-dam-diagram figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* //e: rubber-dam */

/* s: steel-weir */

.steel-weir-sec3 {
    position: relative; /* bg-layer */
}

.steel-weir-sec3 .bg-layer {
    bottom: -16rem; /* margin만큼 */
}

.steel-weir-sec3-list {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
}

.steel-weir-sec3-list:nth-child(1) {
    width: 100%;
    height: 40rem;
}

.steel-weir-sec3-list li + li {
    width: 70.8rem;
    height: 32rem;
}

.steel-weir-sec3-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.steel-weir-diagram {
    background: var(--bg-01);
    padding: 16rem 0 20rem 0;
}

.steel-weir-diagram-list {
    margin-top: 10rem;
}

.steel-weir-diagram-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.steel-weir-diagram-list-top {
    display: flex;
    gap: 2.4rem;
}

.steel-weir-diagram-list-top-left {
    width: 95.2rem;
    height: 56.4rem;
}

.steel-weir-diagram-list-top-right {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 46.4rem;
}

.steel-weir-diagram-list-bottom {
    margin-top: 2.4rem;
    display: flex;
    gap: 2.4rem;
}

/* s: hydraulic-weir */

.hydraulic-weir-features {
    margin-top: 10rem;
    display: flex;
    gap: 2.4rem;
}

.hydraulic-weir-features li {
    width: 70.8rem;
    height: 41.2rem;
}

.hydraulic-weir-features li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-sec-operating {
    position: relative; /* bg-layer */
}

.product-sec-operating .bg-layer {
    bottom: -16rem; /* margin만큼 */
}

.operating-info {
    margin-top: 10rem;
}

.operating-info-list {
    display: flex;
    gap: 2.4rem;
}

.operating-info-list li {
    width: 34.2rem;
    height: 26.6rem;
}

.operating-info-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.operating-info-text {
    margin-top: 4.8rem;
    display: flex;
    justify-content: space-between;
}

.operating-info-text p {
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--bk);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.operating-info-text p:nth-child(1)::before {
    content: '';
    display: flex;
    width: 6rem;
    height: 1.2rem;
    background: url(/images/product/hydraulic-weir-sec3-ico-left.svg) no-repeat 50%;
}
.operating-info-text p:nth-child(2)::after {
    content: '';
    display: flex;
    width: 6rem;
    height: 1.2rem;
    background: url(/images/product/hydraulic-weir-sec3-ico-right.svg) no-repeat 50%;
}

.hydraulic-weir-process {
    background: var(--bg-02);
    padding: 16rem 0 20rem 0;
}

.hydraulic-weir-installation-process {
    margin-top: 10rem;
    display: flex;
    gap: 6rem;
}

.hydraulic-weir-installation-process li {
    position: relative;
}

.hydraulic-weir-installation-process li + li::before {
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: url('/images/product/rubber-dam-sec3-ico.svg') no-repeat 50%;
    position: absolute;
    top: 50%;
    left: -3.6rem;
    transform: translateY(-50%);
}

.hydraulic-weir-installation-process li span {
    font-size: var(--p-16-size);
    font-weight: var(--p-16-sb-weight);
    line-height: var(--p-16-line-height);
    color: var(--logo-main);
    width: 31.5rem;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--logo-main);
    background: var(--fff);
}

.hydraulic-weir-installation-process li img {
    margin-top: 1.2rem;
    width: 31.5rem;
    height: 18.4rem;
    object-fit: cover;
}

.hydraulic-weir-installation-process li p {
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--fff);
    margin-top: 1.2rem;
    width: 31.5rem;
    height: 5.8rem;
    background: var(--logo-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* //e: hydraulic-weir */

/* //e: movable-weir */

/* s: product2 flood-barrier  */

.flood-barrier-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flood-barrier-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flood-barrier-title strong {
    font-size: var(--p-14-size);
    font-weight: var(--p-14-sb-weight);
    line-height: var(--p-14-line-height);
    color: var(--logo-sub-02);
}

.flood-barrier-title h3 {
    margin-top: 1.2rem;
    font-size: var(--sub-title-48-size);
    font-weight: var(--sub-title-48-weight);
    line-height: var(--sub-title-48-line-height);
    color: var(--bk);
}

.flood-barrier-tab-menu {
    margin-top: 4.8rem;
    display: flex;
    gap: 4.8rem;
}

.flood-barrier-tab-menu li {
    position: relative;
}

.flood-barrier-tab-menu li + li::before {
    content: '';
    display: block;
    width: 0.1rem;
    height: 1.6rem;
    background: var(--logo-gray);
    position: absolute;
    top: 50%;
    left: -2.4rem;
    transform: translateY(-50%);
}

.flood-barrier-tab-menu li a {
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--logo-gray);
}

.flood-barrier-tab-menu a.active {
    color: var(--logo-sub-01);
}

.flood-barrier-tab-menu li a {
    transition: 0.4s;
}

.flood-barrier-tab-menu li a:hover {
    color: var(--logo-sub-01);
}

.flood-barrier-subtitle {
    margin-top: 10rem;
}

.flood-barrier-subtitle h4::before {
    content: '';
    display: block;
    width: 2.4rem;
    height: 2.4rem;
    background: url('/images/product/rubber-dam-ico1.svg') no-repeat 50%;
    margin-bottom: 2.4rem;
}

.flood-barrier-subtitle p {
    margin-top: 2.4rem;
    font-size: var(--p-18-size);
    font-weight: var(--p-18-weight);
    line-height: var(--p-18-line-height);
    color: var(--gray);
}

/* s: product2-1 */

.flood-barrier-main-title-top {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flood-barrier-box-list {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2.4rem;
}

.flood-barrier-box-list li {
    width: 34.2rem;
    height: 20rem;
    position: relative;
    background-size: cover;
}

.flood-barrier-box-list li:nth-child(1) {
    background: url(/images/product/flood-barrier-main-imgbox1.png) no-repeat 50%;
}
.flood-barrier-box-list li:nth-child(2) {
    background: url(/images/product/flood-barrier-main-imgbox2.png) no-repeat 50%;
}
.flood-barrier-box-list li:nth-child(3) {
    background: url(/images/product/flood-barrier-main-imgbox3.png) no-repeat 50%;
}
.flood-barrier-box-list li:nth-child(4) {
    background: url(/images/product/flood-barrier-main-imgbox4.png) no-repeat 50%;
}
.flood-barrier-box-list li:nth-child(5) {
    background: url(/images/product/flood-barrier-main-imgbox5.png) no-repeat 50%;
    width: 70.8rem;
    height: 31.2rem;
}
.flood-barrier-box-list li:nth-child(6) {
    background: url(/images/product/flood-barrier-main-imgbox6.png) no-repeat 50%;
    width: 70.8rem;
    height: 31.2rem;
}

.flood-barrier-box-list li p {
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--fff);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.flood-barrier-box-list li p span {
    display: inline-block;
    margin-top: 0.6rem;
    font-size: var(--p-16-size);
    font-weight: var(--p-16-weight);
    line-height: var(--p-16-line-height);
}

.flood-barrier-main-title-top::after {
    margin-top: 10rem;
    content: '';
    display: block;
    width: 4rem;
    height: 6rem;
    background: url(/images/product/flood-barrier1-sec1-ico-arrow.svg) no-repeat 50%;
}

.flood-barrier-main-title-bottom {
    margin-top: 10rem;
    text-align: center;
}

.flood-barrier-main-title-bottom figure {
    margin-top: 10rem;
    width: 100%;
    height: 62rem;
}

.flood-barrier-main-title-bottom figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* //e: product2-1 sec-1 */

.flood-barrier-features {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
    text-align: center;
}

.flood-barrier-features li {
    width: 34.2rem;
    height: 28rem;
}

.flood-barrier-features li img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
}

.flood-barrier-features li p {
    margin-top: 2.4rem;
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--bk);
}

.flood-barrier-features li span {
    margin-top: 0.6em;
    font-size: var(--p-16-size);
    font-weight: var(--p-16-weight);
    line-height: var(--p-16-line-height);
    color: var(--gray);
}

/* //e: product2-1 sec-2 */

.flood-barrier-sec3-text {
    margin-top: 2.4rem;
    font-size: var(--p-18-size);
    font-weight: var(--p-18-weight);
    line-height: var(--p-18-line-height);
    color: var(--gray);
}

.flood-barrier-sec3-img {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.4rem;
}

.flood-barrier-sec3-img li {
    width: 70.8rem;
    height: 30.6rem;
}

.flood-barrier-sec3-img li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* //e: product2-1 sec-3 */

.flood-barrier-sec4-features {
    margin-top: 10rem;
    display: flex;
    gap: 2.4rem;
}

.flood-barrier-sec4-features li {
    background: var(--bg-02);
    width: 34.2rem;
    height: 30.6rem;
    padding: 4.8rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sec4-features-ico {
    width: 7rem;
    height: 7rem;
}

.flood-barrier-sec4-features li:nth-child(1) .sec4-features-ico {
    width: 6rem;
    background: url(/images/product/flood-barrier1-sec4-ico1.svg) no-repeat 50%;
}
.flood-barrier-sec4-features li:nth-child(2) .sec4-features-ico {
    background: url(/images/product/flood-barrier1-sec4-ico2.svg) no-repeat 50%;
}
.flood-barrier-sec4-features li:nth-child(3) .sec4-features-ico {
    background: url(/images/product/flood-barrier1-sec4-ico3.svg) no-repeat 50%;
}
.flood-barrier-sec4-features li:nth-child(4) .sec4-features-ico {
    background: url(/images/product/flood-barrier1-sec4-ico4.svg) no-repeat 50%;
}

.flood-barrier-sec4-features li strong {
    margin-top: 2.4rem;
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--bk);
}

.flood-barrier-sec4-features li p {
    margin-top: 1.2rem;
    font-size: var(--p-18-size);
    font-weight: var(--p-18-weight);
    line-height: var(--p-18-line-height);
    color: var(--gray);
}

/* //e: product2-1 sec-4 */

.safety-review {
    padding-bottom: 20rem;

    position: relative; /* bg-layer */
}

.safety-review-con1 {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.safety-review-con1-img {
    display: flex;
    gap: 2.4rem;
}

.safety-review-con1-img li {
    width: 46.4rem;
    height: 27rem;
}

.safety-review-con1-img li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.safety-review-table-wrap {
    margin-top: 4.8rem;
    overflow: hidden;
}

.safety-review-table {
    width: 100%;
    background: #fff;
    table-layout: fixed;
}

.safety-review-table tr {
    border-bottom: 1px solid var(--logo-sub-02);
    height: 7.4rem;
}

.safety-review-table th,
.safety-review-table td {
    text-align: center;
    vertical-align: middle;
    /* padding: 2.4rem; */
}

.safety-review-table th {
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--fff);
    border-right: 1px solid var(--logo-sub-02);
}

.safety-review-table td {
    font-size: var(--p-16-size);
    font-weight: var(--p-16-weight);
    line-height: var(--p-16-line-height);
    color: var(--bk);
    border-right: 1px solid var(--logo-sub-02);
}

.safety-review-table td:last-child {
    border-right: none;
}

.safety-review-table thead th {
    background: var(--logo-sub-01);
}

.safety-review-table .th-main {
    background: var(--logo-main);
    width: 28.8rem;
    border-right: none;
}

.safety-review-table .th-group {
    color: #fff;
    border-right: 1px solid var(--logo-sub-02);
}

.safety-review-table .th-group:last-child {
    border-right: none;
}

.safety-review-table .th-row {
    width: 28.8rem;
    background: var(--logo-main);
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--fff);
}

.safety-review-table .td-blue {
    background: var(--bg-02);
    color: var(--logo-sub-01);
    font-weight: var(--p-16-sb-weight);
}

/* //e: table */

.safety-review-con1::after {
    margin-top: 10rem;
    content: '';
    display: block;
    width: 0.1rem;
    height: 8rem;
    background: var(--logo-sub-02);
}

.safety-review-con2 {
    margin-top: 10rem;
}

.safety-review-con2-text {
    text-align: center;
}

.safety-review-con2-text p {
    font-size: var(--sub-title-24-size);
    font-weight: var(--sub-title-24-weight);
    line-height: var(--sub-title-24-line-height);
    color: var(--bk);
}

.safety-review-con2-text p span {
    color: var(--logo-sub-01);
}

.safety-review-con2-img {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.safety-review-con2-img li {
    width: 34.2rem;
    height: 48.4rem;
}

.safety-review-con2-img li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* s: product2-2  */

.planter-type-flood-barrier figure {
    margin-top: 10rem;
    height: 62rem;
}

.planter-type-flood-barrier figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.planter-type-flood-barrier-features {
    background: var(--bg-01);
    padding: 16rem 0 20rem 0;
}

.planter-type-flood-barrier-features p {
    margin-top: 2.4rem;
    font-size: var(--p-18-size);
    font-weight: var(--p-18-weight);
    line-height: var(--p-18-line-height);
    color: var(--gray);
}

.planter-type-flood-barrier-features p span {
    font-weight: var(--p-18-sb-weight);
    color: var(--logo-sub-01);
}

.planter-type-flood-barrier-features figure {
    margin-top: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.planter-type-flood-barrier-features figure img {
    width: 70.8rem;
    height: 41.2rem;
    object-fit: cover;
}

/* //e: product2-2  */

/* s: product2-3  */

.product2-3-sec1-text span {
    font-weight: var(--p-18-sb-weight);
    color: var(--logo-sub-01);
}

.product2-3-sec1-img {
    margin-top: 10rem;
    display: flex;
    gap: 2.4rem;
}

.product2-3-sec1-img img {
    width: 70.8rem;
    height: 41.2rem;
}

/* //e: product2-3 sec1 */

.product-sec-process {
    background: var(--bg-02);
    padding: 16rem 0;
}

.flood-barrier-installation-process {
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    gap: 4.8rem 6rem;
}

.flood-barrier-installation-process li {
    position: relative;
}

.flood-barrier-installation-process li:not(:nth-child(1)):not(:nth-child(4))::before {
    content: '';
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    background: url('/images/product/rubber-dam-sec3-ico.svg') no-repeat 50%;
    position: absolute;
    top: 50%;
    left: -3.6rem;
    transform: translateY(-50%);
}

.flood-barrier-installation-process li span {
    font-size: var(--p-16-size);
    font-weight: var(--p-16-sb-weight);
    line-height: var(--p-16-line-height);
    color: var(--logo-main);
    width: 44rem;
    height: 5.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--logo-main);
    background: var(--fff);
}

.flood-barrier-installation-process li img {
    width: 44rem;
    height: 25.6rem;
    object-fit: cover;
}

.flood-barrier-installation-process li p {
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: var(--fff);
    width: 44rem;
    height: 5.8rem;
    background: var(--logo-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* //e: product2-3 sec2 */

.flood-barrier-comparsion {
    padding-bottom: 20rem;
    position: relative;
}

.custom-table-wrap {
    margin-top: 10rem;
    overflow: hidden;

    /* after 중앙정렬 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.custom-table th,
.custom-table td {
    text-align: center;
    vertical-align: middle;
    padding: 2.4rem;
    border-right: 1px solid var(--logo-sub-02);
}

.custom-table td {
    font-size: var(--p-16-size);
    font-weight: var(--p-16-weight);
    line-height: var(--p-16-line-height);
    color: var(--bk);
}

.custom-table td:last-child {
    border-right: none;
}

.custom-table tr {
    border-bottom: 1px solid var(--logo-sub-02);
}

.custom-table thead th {
    background: var(--logo-sub-01);
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    color: #fff;
}

.custom-table .th-main {
    width: 14.4rem;
}

.custom-table .th-row {
    background: var(--bg-02);
    color: var(--logo-sub-01);
    font-size: var(--p-18-size);
    font-weight: var(--p-18-sb-weight);
    line-height: var(--p-18-line-height);
    width: 14.4rem;
}

.custom-table img {
    display: block;
    width: 34.2rem;
    height: 26rem;
    margin: 0 auto 1.2rem;
}

.custom-table-wrap::after {
    margin-top: 10rem;
    content: '';
    display: block;
    width: 0.1rem;
    height: 8rem;
    background: var(--logo-sub-02);
}

.flood-barrier-comparsion-text {
    margin-top: 10rem;
    text-align: center;
}

.flood-barrier-comparsion-text p {
    font-size: var(--sub-title-24-size);
    font-weight: var(--sub-title-24-weight);
    line-height: var(--sub-title-24-line-height);
    color: var(--bk);
}

.flood-barrier-comparsion-text span {
    color: var(--logo-sub-01);
}

.bg-layer {
    background: url(/images/common/subpage-bg.png) no-repeat 50%;
    width: 100%;
    height: 47rem;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
}
