<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Title (SEO/OG 겸용) -->
        <title>{{ .Title | default "DAEDO ENTEC" }}</title>

        <!-- Meta Description -->
        <meta name="description" content="{{ .Params.description | default "기후변화에 대응하는 스마트 수자원 방재 기술
        - ㈜대도엔텍은 고무보, 수문 등 수리구조물 분야에서 최고의 기술을 제공합니다." }}" />

        <!-- Keywords -->
        <meta name="keywords" content="{{ .Params.keywords | default "대도엔텍, 고무보, 수문, 방재 기술, 스마트 수자원,
        기계설비, 하천 구조물" }}" />

        <!-- Author -->
        <meta name="author" content="{{ .Params.author | default "㈜대도엔텍" }}" />

        <!-- OG (Open Graph) -->
        <meta property="og:type" content="website" />
        <meta property="og:title" content="{{ .Params.og_title | default .Title }}" />
        <meta property="og:description" content="{{ .Params.og_description | default .Params.description }}" />
        <meta property="og:image" content="{{ .Params.og_image | default "/images/main/info-bg-big.png" }}" /> <meta
        property="og:url" content="{{ .Params.og_url | default ( printf "%s" .Permalink ) }}" />

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
        <link rel="stylesheet" href="/css/reset.css" />
        <link rel="stylesheet" href="/css/fonts.css" />
        <link rel="stylesheet" href="/css/common.css" />
        {{ block "css" . }}{{ end }}

        <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/gsap.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollTrigger.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/gsap@3.13.0/dist/ScrollToPlugin.min.js" defer></script>
        <script src="/js/script.js" defer></script>
        {{ block "js" . }}{{ end }}
    </head>
    <body>
        <hr />
        <!-- s: header -->
        {{ partial "header.html" . }}
        <!-- //e: header -->

        <hr />
        <!-- s: main -->
        <main>{{ block "main" . }}{{ end }}</main>
        <!-- //e: main -->

        <hr />
        <!-- s: footer -->
        {{ partial "footer.html" . }}
        <!-- //e: footer -->

        <div class="btn-top">
            <button type="button"><i>TOP</i></button>
        </div>
    </body>
</html>
