<footer id="footer">
    <div class="container">
        <div class="footer-top">
            <div class="footer-info">
                <div class="footer-logo">
                    <img src="/images/common/logo_가로형_수정.svg" alt="대도엔텍" />
                    <div class="footer-text">
                        <strong>㈜대도엔텍</strong>
                        <dl class="footer-dl">
                            <div class="info-row info-row-top">
                                <dt>대표자</dt>
                                <dd>장정수</dd>
                            </div>
                            <div class="info-row info-row-bottom">
                                <dt>사업자등록번호</dt>
                                <dd>105-86-55444</dd>
                            </div>
                        </dl>
                    </div>
                </div>
            </div>

            <div class="footer-nav">
                <div class="footer-menu">
                    <h4><a href="/company/greeting/">회사소개</a></h4>
                    <ul>
                        <li><a href="/company/greeting/">인사말</a></li>
                        <li><a href="/company/ci/">CI</a></li>
                        <li><a href="/company/location/">오시는길</a></li>
                    </ul>
                </div>

                <div class="footer-menu">
                    <h4><a href="/product/product1-1/">제품</a></h4>
                    <ul>
                        <li>
                            <a href="/product/product1-1/">고무보</a>|<a href="/product/product1-2/">SR가동보</a>|<a href="/product/product1-3/"
                                >유압식가동보</a
                            >
                        </li>
                        <li>
                            <a href="/product/product2-1/">투명 홍수방어벽</a>|<a href="/product/product2-3/">지주식 홍수방어벽</a>|<a
                                href="/product/product2-2/"
                                >화단형 홍수방어벽</a
                            >
                        </li>
                        <li><a href="/product/product3-1/">기립식침수방어벽</a>|<a href="/product/product3-2/">슬라이딩침수방어벽</a></li>
                        <li>
                            <a href="#">수문</a>
                        </li>
                    </ul>
                </div>

                <div class="footer-menu">
                    <h4><a href="/tech/tech/">보유기술현황</a></h4>
                    <ul>
                        <li><a href="/tech/tech/">보유기술현황</a></li>
                    </ul>
                </div>

                <div class="footer-menu">
                    <h4><a href="/cs/notice/">고객센터</a></h4>
                    <ul>
                        <li><a href="/cs/notice/">공지사항</a></li>
                        <li><a href="/cs/inquiry/">고객문의</a></li>
                        <li><a href="/cs/resources/">자료실</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="address">
                <div class="address-line">
                    <span class="label">본사 및 공장</span>
                    <dl class="info-group">
                        <dt>주소</dt>
                        <dd>경상북도 구미시 비산로 138, 4동</dd>
                        <dt>Tel</dt>
                        <dd>054-461-9524</dd>
                        <dt>Fax</dt>
                        <dd>054-461-9525</dd>
                    </dl>
                </div>

                <div class="address-line">
                    <span class="label">설계사무소/기술연구소</span>
                    <dl class="info-group">
                        <dt>주소</dt>
                        <dd>경기도 고양시 일산동구 호수로 358-39, 412호</dd>
                        <dt>Tel</dt>
                        <dd>031-919-9524</dd>
                        <dt>Fax</dt>
                        <dd>031-919-9526</dd>
                    </dl>
                </div>
            </div>

            <div class="copyright">
                <p><strong>Contact Us</strong> erubberdam@naver.com</p>
                <p>Copyright © 2025. DAEDOENTEC All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>
